@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dongle&family=Lobster&display=swap');

/* Reseto estilos predeterminados de HTML5 */
* {
  padding: 0;
  margin: 0;
}

/* ESTILO BOTONES */
header button {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  background-color: rgb(19, 145, 92);
  border: 1px solid rgb(19, 145, 92);
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s;
}

header button:hover {
  transform: scale(1.2);
}

header {
  background-image: url("../images/header_background.jpeg");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
}

#header_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 180px 0px;
}

header img {
  width: 400px;
  height: 400px;
}

#img_content {
  height: fit-content;
  width: fit-content;
  margin-left: 50px;
}

#header_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-right: 50px;
  width: 30%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  padding: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 0px;
  width: 50%;
}

nav ul li {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  padding: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.subtitle_content {
  display: flex;
  flex-direction: column;
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-bottom: 70px;
}

.subtitle_image img {
  width: 100px;
  height: 100px;
}

.products_content_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
}

footer {
  background-image: url('../images/header_background.jpeg');
  background-size: cover;
  background-position: top;
  font-family: 'Courgette', cursive;
  padding: 40px;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.footer_links_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_cols_content {
  display: flex;
  flex-direction: row;
}

.footer_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 40px;
}

.footer_col h5 {
  font-weight: bolder;
}

footer a {
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  color: black;
}

.img_footer_content {
  width: 25%;
  height: 25%;
}

footer img {
  width: 100%;
  height: 100%;
}

.copyright-content {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed black;
}

.registered_text {
  margin-bottom: 0px;
}