%content-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Courgette', cursive;
  font-size: 23px;
  margin-bottom: 20px;
}

#invoice {
  display: flex;
  flex-direction: column;
  
  .amounts_content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      color: white;
      font-family: 'Courgette', cursive;
      font-size: 23px;
      background-color: rgb(19, 145, 92);
      border: 1px solid rgb(19, 145, 92);
      border-radius: 30px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .amounts_content_2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 5px solid rgb(19, 145, 92);
      width: 40%;
      padding: 50px 50px;

      .subtotal_content {
        @extend %content-attributes;
      }

      .tax_content {
        @extend %content-attributes;
      }

      .send_content {
        @extend %content-attributes;
        border-bottom: 2.5px dashed black;
      }

      .total_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        font-size: 28px;
      }

      .payment_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
      }
    }
  }
}